keyContainer {
    width: "24.2%";
    height: "16%";
    border: "1px solid #232323";
    display: "flex";
    justify-content: "center";
    align-items: "center";
}

keyText {
    color: "#a5a5a5";
    font-family: "arial";
    font-size: 15;
}
